.dialogs {
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: white
}

.dialogsItems {
    padding: 10px;
}

.active {
    color: gold;
    font-weight: bold;
}

.messages {
    padding: 10px;
    color: white;
    font-stretch: ultra-condensed;
    font-style: inherit;
}

.dialog {
    font-family: Arial;
    line-height: 150%;
}