.dialogs {
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    margin: 5px 1em 0 auto
}

.messages {
    padding: 10px;
    color: white;
    font-stretch: ultra-condensed;
    font-style: inherit;
}

.dialog {
    font-family: Arial;
    line-height: 150%;
}