.users {
    display: grid;
    grid-template-columns: 1fr;
    color: white
}

.user {
    font-family: Arial;
    line-height: 150%;
}

.item img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.selectPage {
    font-weight: bold;
}